<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Vi du bai tap ve the </title>
</head>
<body>
<div align="center"><a href="https://vi.wikipedia.org/wiki/Hirai_Momo"><h1 style="margin: auto">Hirai Momo</h1></a>
<img src="https://pbs.twimg.com/media/CiPUSedWkAABbWX.png" width="400" height="400"></div>
<div align="center">
    <div style="color: blueviolet">
        <h3>Name: Hirai Momo</h3>
        <h3>Age: 20</h3>
        <h3>Height=167cm,Weight=48kg</h3>
    </div>
</div>
<div align="center"><p style="margin: 0px 500px;border: 3px solid red">Her stage name is Momo <br>Nationality:Japanese <br> Group: TWICE</p></div>
<div align="center">
    <table border=1px solid black>
        <tr>
            <th> Tên </th>
            <th> Kênh </th>
            <th> Ghi chú </th>
        </tr>
        <tr>
            <td> Sixteen </td>
            <td> Mnet </td>
            <td> Tìm kiếm thành viên của TWIC E</td>
        </tr>
        <tr>
            <td> My Little Television </td>
            <td> MBC </td>
            <td> Cùng với Sana, Mina, Tzuyu </td>
        </tr>
        <tr>
            <td> Finding MOMOLAND </td>
            <td> Mnet </td>
            <td> Cỗ vũ cho Daisy - cựu thực tập sinh của JYP </td>
        </tr>
    </table>
    </div>
<h3 style="color: red"> Position </h3>
<ul type="square">
    <li>Main Dancer</li>
    <li>Rapper</li>
    <li>Vocalist</li>
</ul>
<div align="center"><div style="color: deeppink">
    <h3>TWICE</h3>
    <table border=3px solid black>
        <tr>
            <th> Tên </th>
            <th> Tuổi </th>
            <th> Quốc tịch </th>
            <th> Vị trí </th>
        </tr>
        <tr>
            <td> Nayeon </td>
            <td> 21 </td>
            <td> Hàn Quốc </td>
            <td> Hát chính </td>
        </tr>
        <tr>
            <td> Jung yeon </td>
            <td> 20 </td>
            <td> Hàn Quốc </td>
            <td> Hát dẫn </td>
        </tr>
        <tr>
            <td> Momo </td>
            <td> 20 </td>
            <td> Nhật Bản </td>
            <td> Nhảy chính, hát phụ, dẫn phụ </td>
        </tr>
        <tr>
            <td> Sana </td>
            <td> 20 </td>
            <td> Nhật Bản </td>
            <td> Nhảy phụ, dẫn phụ </td>
        </tr>
        <tr>
            <td> Jihyo </td>
            <td> 19 </td>
            <td> Hàn Quốc </td>
            <td> Leader,  hát chính </td>
        </tr>
        <tr>
            <td> Mina </td>
            <td> 19 </td>
            <td> Nhật Bản </td>
            <td> Hát dẫn, nhảy dẫn </td>
        </tr>
        <tr>
            <td> Dahuyn </td>
            <td> 18 </td>
            <td> Hàn Quốc </td>
            <td> Rap dẫn, hát phụ </td>
        </tr>
        <tr>
            <td> Chaeyoung </td>
            <td> 17 </td>
            <td> Hàn Quốc </td>
            <td> Rap chính, hát phụ</td>
        </tr>
        <tr>
            <td> Tzuyu </td>
            <td> 17 </td>
            <td> Đài Loan </td>
            <td> Nhảy dẫn, hát phụ, visual </td>
        </tr>

    </table>
</div></div>
</body>
</html>